*.pyc
backup/mongodumps
/.idea/
.idea/
.coverage/
.coverage
.coverage*
!.coveragerc
.pytest_cache/
.python-version
coverage.xml
coverage_html/
htmlcov/
report.integration.xml
report.unit.xml
report.xml
Tests/html
.tox/
*.pid
celerybeat-schedule
__pycache__/
poetry.toml

# Ignore .env but exclude .env examples
.env*
!.env*.example
!.env*.test
!Tests/configuration/.env
.venv/
/venv

# Docker-compose override files
docker-compose.*override.yml

# MAC .DS_Store files
.DS_Store

# ignore vim swap files
*.swp

# SonarQube analysis files
.scannerwork
sonar-project.properties

# ignore oauth folders (for local dev)
/oauth/

# databases
*.db

# local environment files
env-local.json

# logs
*.log

# VSCode specific, added so you can make your own without accidentally pushing them.
# Optionally provisioned for you by the devstack.sh script in Deployments.
.devcontainer/
.vscode/

vault_fixture.json